<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.ubiquill.calagator"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.github.ubiquill.calagator.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.github.ubiquill.calagator.activities.SearchEventsActivity"
                  android:label=""
                  android:launchMode="singleTop"
                  android:parentActivityName="com.github.ubiquill.calagator.activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.ubiquill.calagator.activities.MainActivity" />

        </activity>
        <activity android:name="com.github.ubiquill.calagator.activities.EventDetailsActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTop"
                  android:parentActivityName="com.github.ubiquill.calagator.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.ubiquill.calagator.activities.MainActivity" />
        </activity>

    </application>

</manifest>
